app-barra-progreso{
    width: 100%;
}

button{
    width: 33%;
    height: 60px;
    
}

.entradaInicio{
    display: flex;
}

input{
    margin-left: 20px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}