<div class="container-fluid text-center" align="center">
    <h1 class="text-dark">Bienvenido a Re-Glotones</h1>

    <p>Lo invitamos a sentarse, relajarse y deleitarse en el ambiente elegante de Re-Glotones mientras nuestro chef lo lleva a una experiencia
        culinaria de cocina local contemporanea y de temporada con elementos de la cocina rustica italiana.
    </p>

    <div align="center">
        <img src="https://i.pinimg.com/originals/77/7d/9c/777d9c6e187bfc29677c7de89aa73c5a.jpg" alt="carne asada"   width="800" height="500">
    </div>
</div>
